<div class="personBlock">
  <div class="userAvatar user32">
    <span class="avatar">
      {{name-letter name=name}}
    </span>
  </div>
  <div class="userInfo">
    <div class="name"><a href="#">{{name}}</a></div>
  </div>
</div>
