@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($fmt) {
  -webkit-box-shadow: $fmt;
          box-shadow: $fmt;
}

@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}

@mixin alert-variant($background, $body-color) {
  background-color: $background !important;
  color: $body-color !important;
}
